.card 
{
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    width:20em;
    border: none;
    border-radius: .28571429rem;
    box-shadow: none;
    text-align: center;
    margin-bottom: 0.5rem;
}

.card-img-top 
{
    display: block;
    width:15rem;
    height: auto;
    box-shadow: 4px 2px 0px 0px #303030;
}

.card-block 
{
    font-size: 1em;
    width:15rem;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: none;
}

.meta 
{
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a 
{
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover 
{
    color: rgba(0, 0, 0, .87);
}

.card-text 
{
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer 
{
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}